* {
    margin: 0;
    padding: 0;
}

.div1 {
    display: inline;
    background-color: #ff0000;
    width: 400px;
    height: 200px;
}

.span1 {
    display: none;
    /* visibility: hidden; ise elementin yeri bos olarak kalir, yerini gosterir ama element gozukmez*/
    background-color: #00ff00;
    height: 100px;
    width: 100px;
    margin-bottom: 40px;
    /* inline elementlere width height margin-bottom ve margin-top degerleri verilemez, verebilmek icin display:inline-block deriz */
}

.span2 {
    background-color: #0000ff;
}

img {
    display: inline-block;
    width: 600px;
    height: auto;
}