ul {
    /* list-style-image: url('/images/sqpurple.gif');
    list-style-position: outside;
    background-color: salmon; */
    /* list-style: square inside; */
}

li {
    border: 1px solid black;
}

li:before {
    /* content: '\2764';
    color: red; */
    content: '😉';
}